.vs
.vscode
.idea
.DS_Store
*.md.meta
*.aspx
*.browser
*.csproj
*.exe
*.ini
*.log
*.map
*.mdb
*.npmrc
*.pyc
*.resS
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.userprefs
*.orig
*.orig.meta
*.bak
.npmrc
node_modules