Label {
    overflow: hidden;
    opacity: 1;
    /*-unity-font-style: bold;*/
    color: rgb(255, 255, 255); 
}
.flow-container
{
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    position: Absolute;
    left: 0;
    right: 0;
    /*height: 28px;*/
}
#flow-outputs
{
    bottom: -8px;
}
#flow-inputs
{
    /*order: 99;*/
    top: -8px;

}

.port{
    
}
.flow-container .connectorText{
    display: none;
}